html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul, ol {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input,
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"], a {
  cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
}

.resize{
  flex-shrink: 1;
  flex-grow: 1;
}

.center-children{
  display: flex;
  align-items: center;
  justify-content: center;
  &.right-children{
    justify-content: flex-end;
  }
  &.left-children{
    justify-content: flex-start;
  }
}

.search-field{
  background:#424244;
  padding: 9px 10px 9px 10px;
  border-radius: 7px;
  width: 300px;
}
